
#Card{
    padding: 2rem;
}
#cardImage{
    margin-bottom: 0;max-height: 200px;
}
#cardImage img{
    min-width:"220px";
    max-width:"300px";
    max-height:"200px";
    overflow: hidden;
}

#NameOfCrop{
    font-size: 2.5rem;
    margin-bottom: 7px;
    margin-top: 0;padding-top: 20px;
}
#Quantity{
    line-height: 0.9;
    margin-bottom: 7px;
    margin-top: 5px;
    font-size: 2.4rem;
}
#Price{
    line-height: 0.9;
    margin-bottom: 7px;
    margin-top: 5px;
    font-size: 2.4rem;
}


#cardDetail{
    background: #ebfbe0;
    max-width: 180px;
    padding: 2rem;
    padding-top: 1.2rem;
}