:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(233, 233, 233);
  background-color: #362f4ed5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}





.triangle_down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  font-size: 0;
  background-color: #2f2f2f;
  padding: 0;
  line-height: 0;
  float: left;
  margin-top: 4px;
  /* background: transparent; */
}

.triangle_up {
  width: 0;
  /* height: 0; */
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  font-size: 0;
  background-color: #2f2f2f;
  padding: 0;
  line-height: 0;
  /* background: transparent; */
  margin-top: 4px;
  float: left;
}

.controls button{
  padding: 0;
  margin: 10px;
  margin-top: 3px;
  margin-bottom: 5px;
  background: transparent;
  border: 0;
}


.btn--ad{
  margin: 0;
}
.btn--ad p{
  padding: 5px;
  font-weight: 900;
  font-size: 1.3rem;
  margin: 5px;
  border: 0;
  min-height: 20px;
  padding-top: 0;
  padding-bottom: 0;
  min-width: 40px;
  background-color: #4c4c4c;
}

.controls{
  display: flex;
  justify-content: center;
}

.task-count{
  text-align: center;
  margin-top: 4px;
  align-content: center;
}
hr{
  margin-bottom: 0;
  margin-top: 25px;
}

.todoList{
  text-align: start;
}
.todoList{
  padding-left: 2%;
}
.removeMargin{
  margin-top: 0;
  margin-bottom: 0;
  justify-self: end;
}
.controls2{
  justify-content: space-between;
}
ol li{
  padding-left: 3%;
}